<mat-card>
    <h1>{{login | titlecase}}</h1>
    <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="Digite seu username" >
    </mat-form-field>
    <mat-form-field>
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <button mat-raised-button color="primary">Entrar</button>
</mat-card>