$textAlign: center;
$margin:50px 20px;
$padding: 20px;
$display: flex;

mat-card{
    margin: $margin;
    padding: $padding;
}

form{
    display: $display;
    flex-direction: column;
}

button{
    margin-bottom: 12px;
}


h1{
    text-align: $textAlign;
}



