<mat-card>
    <h1 *ngIf="!h1register" >{{h1update | titlecase}}</h1>
    <h1 *ngIf="!h1update" >{{h1register | titlecase}}</h1>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Curso</mat-label>
            <input matInput placeholder="ex: Angular" formControlName="name">
            <div *ngIf="name.invalid && name.touched">
              <span *ngIf="name.errors?.['required']">O campo é obrigatório!</span>
              <span *ngIf="name.errors?.['minlength']">O campo é precisa ter ao menos 3 caracteres!</span>
              <span *ngIf="name.errors?.['maxlength']">O campo é pode conter até 100 caracteres!</span>
            </div>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="category">
              <mat-option value="front-end">Front-end</mat-option>
              <mat-option value="back-end">Back-end</mat-option>
              <mat-option value="banco de dados">Banco de dados</mat-option>
              <mat-option value="outro">Outro</mat-option>
            </mat-select>
            <div *ngIf="category.invalid && category.touched">
              <span *ngIf="category.errors?.['required']">O campo é obrigatório!</span>
            </div>
          </mat-form-field>
          <mat-form-field floatLabel="always">
            <mat-label>Preço</mat-label>
            <input matInput type="number" class="example-right-align" placeholder="0.00" formControlName="price">
            <div *ngIf="price.invalid && price.touched">
              <span *ngIf="price.errors?.['required']">O campo é obrigatório!</span>
            </div>
            <div matTextPrefix>R$&nbsp;</div>
          </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!form.valid">Salva</button>
        <button mat-raised-button color="warn" (click)="onCancell()">Cancelar</button>
</mat-card>